{% extends "blog/base.html" %}
{% block content %}


    <b><h1 style="color:#dddddd">Information about our packages can be found below:</h1></b>

<body>
<h3 style="color:#dddddd"><b>Package1</b>: 100 Mbps, upstream & downstream - 100USD per month</h3>
<br>
<h3 style="color:#dddddd"><b>Package2</b>: 500 Mbps, upsteeam & downstream - 300USD per month</h3>
<br>
<h3 style="color:#dddddd"><b>Package3</b>: 1000 Mbps(1Gbps), upsteeam & downstream - 500USD per month</h3>
<br>
<h3 style="color:#dddddd"><b>Router</b>: Unlimited Bandwidth usage(depends the package) - 30USD per month</h3>
<br>
<h3 style="color:#dddddd"><b>Combo Package</b>: Buy a router and have a 20USD discount per month for the total charge!</h3>

</body>
{% endblock content %}
